body {
    display: fixed;
    background:  #212529;
    color: #212121;
    width: 100%;
    }

header {
  height: 50px;

}
nav {
 background-color: #8D99AE;
 color: white;
}

.navbar-nav{
  width: max-content;
  position: relative !important;
}
#EndButton {
  float: right;
}
#EndButton > a {
  background-color: #A7B6C2 ;
}
.loginForm, .registerForm {
  align-self: center;
  text-align: center;
  width: 35%;
  margin-left: 15.5%;
  margin-right: 37.5%;
  margin-top: 5%;
}

.loginForm > div  > label, .registerForm > div > label {
    font-size: x-large;
 }
.form-group {
  background-color: #8D99AE; ;
  color: white;
  border-radius: 6px;
  width: 130%;
  padding: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
}
.loginForm > div > input, .registerForm > div > input, .registerForm > .buttonContainer > #register{
   margin: 1%;
   width: 100%;
   height: 50px;     
   margin-bottom: 5%;
}
.loginForm > div > .buttonContainer {
  display: grid;
  margin: .5%;
  grid-template-columns: 50% 50%;
  column-gap: 1%;
  height: 50px;
}
.loginForm > div > .buttonContainer > #login, .loginForm > div > .buttonContainer > #SignUp {
  margin: .5%;
  height: 100%;
  width: 100%;
  background-color: #2B2D42 !important;
  color: white;
  font-size: larger;
  font-style: bold;
 }

 .loginForm > div > .buttonContainer > #login:hover, .loginForm > div > .buttonContainer > #SignUp:hover {
  background-color: transparent !important;
  border-color: #2B2D42;
  border-width: 2px;
  color: #2B2D42;
  font-size: larger;
  font-weight: 500;
 }

.registrationForm > div > .buttonContainer {
  display: grid;
  margin: 1%;
  grid-template-columns: 100%;
  column-gap: 1%;
}
.registerForm > div > .buttonContainer > #register, .registerForm > div > .buttonContainer > #login {
  width: 100%;
  height: 50px;
  margin-left: 1%;
  margin-bottom: 10px;
  border-color: transparent;
  background-color: #2B2D42 !important;
  color: white;
  font-size: larger;
  font-style: bold;
}
.registerForm > div > .buttonContainer > #register:hover, .registerForm > div > .buttonContainer > #login:hover {
  background-color: transparent !important;
  border-color: #2B2D42;
  border-width: 2px;
  color: #2B2D42;
  font-size: larger;
  font-weight: 500;
}

#jumboTronWelcome {
  background-color:#8D99AE!important; 
  margin-top: 5% !important;
}
.page-header {
  margin-top: 5%;
}
.page-header > h1{
  width: 100%;
  position: relative;
  color: white;
}

.page-header > hr {
  color: white;
}

.page-header > h1 > button, .list-group > a > button {
  float: right;
  align-self: center;
  background-color: #8D99AE;
}
.page-header > h1 > button:hover, .list-group > a > button:hover{
  border-color: #8D99AE;
  border-width: 2px;
}
.modal-header{
  background-color: #8D99AE !important;
}
.addItem > .form-outline > input, textarea {
  margin-bottom: 2% !important;
}

.btn-close {
  background-color: #8D99AE;
}

.list-group > a {
  margin-bottom: 2%;
  margin-top: 2%;
  color: #212121;
  background-color: #F5F8FA ;
}

.list-group > a:hover {
  margin-bottom: 2%;
  margin-top: 2%;
  color: white;
  background-color: transparent ;
  border-color: white;
  border-width: 2px;
}

.list-group > a > h3 {
  position: relative;
  font-style: italic;
  border-bottom: 1px;
  width: 100%;

}
.list-group > h3 > label{
  font-size: larger;
}
.list-group > a > h3 > button{
  float: right;
}