body {
    display: flex;
    background: whitesmoke;
    width: 100%;
    }

.loginForm, .registerForm {
  align-self: center;
  text-align: center;
  width: 35%;
  margin-left: 37.5%;
  margin-right: 37.5%;
  margin-top: -20%;
}

header {
  color: whitesmoke;
  background-color: black;
}

.loginForm > div  > label, .registerForm > div > label {
    font-size: x-large;
 }
.form-group {
  background-color: black;
  color: whitesmoke;
  border-radius: 6px;
  width: 100%;
  padding: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
}
.loginForm > div > input, .registerForm > div > input, .registerForm > .buttonContainer > #register{
   margin: 1%;
   width: 100%;
   height: 50px;     
   margin-bottom: 5%;
}
.loginForm > div > .buttonContainer {
  display: grid;
  margin: .5%;
  grid-template-columns: 50% 50%;
  column-gap: 1%;
  height: 50px;
}
.loginForm > .buttonContainer > #login, .loginForm > .buttonContainer > #SignUp {
  margin: .5%;
  height: 100%;
  width: 100%;
 }

.registrationForm > div > .buttonContainer {
  display: grid;
  margin: .5%;
  grid-template-columns: 100%;
  column-gap: 1%;
}
.registerForm > div > .buttonContainer > #register {
  width: 100%;
  height: 50px;
  margin-left: 1%;
}